div.content-wrapper {
  padding: 0px 1.1rem;
}

div.content-wrapper {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
}

div.modal-header .close {
  color: #fff;
}

.user-panel img {
  height: 100%;
  width: 2.4333rem;
}

.flex-column {
  flex-direction: column;
}

.user-panel .image {
  padding-left: 0.3rem;
}

.select2 {
  width: 100% !important;
}

.user-panel .info {
  text-align: center;
}

.form-control.select2 {
  width: 100%;
}

.table-responsive {
  overflow-x: inherit;
}

#table-sub tr > th {
  padding: 0.75rem;
}

.btn-cls {
  background-color: transparent;
  border: none;
  color: #eee;
}

::-webkit-scrollbar {
  /*display: none;*/
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #111;
}

::-webkit-scrollbar-track-piece {
  background-color: #eee;
}

::-webkit-scrollbar-corner {
  background: #eee;
}
